@model _2211_Final_Project_TGM_Blog.Models.Admin.UserAccounts

@{
    TempData["Title"] = "User Accounts";
}





<!-- Search form -->
<div class="row justify-content-center">
    <div class="card col-lg-6 p-2">
        @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger" role="alert">
                @Html.Raw(TempData["ErrorMessage"])
            </div>
        }
        <h1 class="text-center mb-2">@TempData["Title"]</h1>
        <form method="post" class="mb-2">
            <div class="form-group d-flex">
                <input asp-for="Search" class="form-control mx-2" placeholder="Search by Username or Email" />
                <button type="submit" class="btn btn-outline-secondary m-1">Search</button>
            </div>
        </form>
        @if (Model != null){
            <div id="userDetails">
                <!-- Renders the _UserDetails partial view here -->
                @await Html.PartialAsync("_UserDetails", Model)
            </div>
        }
    </div>
</div>
