@model _2211_Final_Project_TGM_Blog.Models.Admin.UserAccounts

@{
    TempData["Title"] = "User Accounts";
}



@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(TempData["ErrorMessage"])
    </div>
}

<!-- Search form -->
<div class="row justify-content-center ">
    <div class="card col-lg-6 navbar p-4">
        <h1 class="text-light">@TempData["Title"]</h1>
        <form method="post">
            <div class="form-group ">
                <label asp-for="Search" class="control-label text-light">Search Username or Email:</label>
                <input asp-for="Search" class="form-control mx-2" />
                <button type="submit" class="btn btn-primary m-1">Search</button>
            </div>
        </form>
        @if (Model != null){
            <div id="userDetails">
                <!-- Renders the _UserDetails partial view here -->
                @await Html.PartialAsync("_UserDetails", Model)
            </div>
        }
    </div>
</div>
