@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome to your one stop shop to explore and discuss the wonderfully whimsical world of...</p>
    <h3 class="display-4">Into the Great Muscaria!</h3>
    <img class="img-fluid" src="~/images/LookingUpShroom.png" alt="3D Low Poly Mushroom Guy Looking Up" />
</div>
