@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4 mb-2">@ViewData["Title"]</h1>

    <h2 class="display-6 mb-2">Your privacy is important to us.</h2>

    <p class="mb-2">Space Mix Studios will never sell your data.</p>

    <p class="mb-2">We promise that when you use our site your data is secure and encrypted.</p>

    <img src="~/images/ShroomGuyIllustration.png" alt="Illustration of a Mushroom Creature" />
</div>